<div class="container">
    <div *ngIf="posts.length > 0">
        <div *ngFor="let post of posts; let i = index">
            <div class="card my-4">
                <h5 class="card-header">Post</h5>
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.body }}</p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="container text-center mb-5">
    <button class="btn btn-primary"><a class="text-white" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></button>
</div>
